{% extends 'base.html.twig' %}
{% set isFooter         = false %}
{% set isHeader         = false %}

{% block body %}
    <h1>Job list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Jobtitle</th>
                <th>Company</th>
                <th>Jobdescription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="{{ path('job_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                <td>{{ job.jobTitle }}</td>
                <td>{{ job.company }}</td>
                <td>{{ job.jobDescription }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('job_show', { 'id': job.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('job_edit', { 'id': job.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('job_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
