{% extends 'base.html.twig' %}

{% block body %}
    <h1>Job</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr>
            <tr>
                <th>Jobtitle</th>
                <td>{{ job.jobTitle }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ job.company }}</td>
            </tr>
            <tr>
                <th>Jobdescription</th>
                <td>{{ job.jobDescription }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('job_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('job_edit', { 'id': job.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
