
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/../theme/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/../theme/js/jquery.min.js"></script>
<script src="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/../theme/js/bootstrap.min.js"></script>
<!-- Custom Theme files -->
<link href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/../theme/css/style.css" rel='stylesheet' type='text/css' />
<link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<!----font-Awesome----->
<link href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/../theme/css/font-awesome.css" rel="stylesheet"> 
<!----font-Awesome----->



</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/"><img src="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/../theme/images/logo.png" alt=""/></a>
        </div>
        <!--/.navbar-header-->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/job/list">Contract Jobs</a></li>                                             
                    </ul>
                </li>          
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recruiters<b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/company/list">Company</a></li>                        
                     </ul>
                </li>
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{ app.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/resume">Upload Resume</a></li>
                            <li><a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/logout">Logout</a></li>
                        </ul>
                    </li>
                    
                    
                {% elseif not app.user %}
                    <li><a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/login">Login</a></li>
                {% endif %}

                
                
            </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
        <!--/.navbar-collapse-->
    </nav>

    {% if isHeader == true %}
         <div class="banner">
    <div class="container">
        <div id="search_wrapper">
         <div id="search_form" class="clearfix">
         <h1>Start your job search</h1>
            <p>
             <input type="text" class="text" placeholder=" " value="Enter Keyword(s)" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Keyword(s)';}">
             <input type="text" class="text" placeholder=" " value="Location" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Location';}">
             <label class="btn2 btn-2 btn2-1b"><input type="submit" value="Find Jobs"></label>
            </p>
            <h2 class="title">top Countries &amp; searches</h2>
         </div>
         <div id="city_1" class="clearfix">
             <ul class="orange">
             <li>
             <a href="#">Japan</a>
             </li>
             <li>
             <a href="#" title="Kenya Jobs">Kenya</a>
             </li>
             <li>
             <a href="#" title="Australia Jobs">Australia</a>
             </li>
             <li>
             <a href="#" title="Poland Jobs">Poland</a>
             </li>
             <li>
             <a href="#" title="Oman Jobs">Oman</a>
             </li>
             <li>
             <a href="#" title="Pakistan jobs">Pakistan</a>
             </li>
             <li>
             <a href="#" title="Saudi Arbia Jobs">Saudi Arbia</a>
             </li>
             <li>
             <a href="#" title="Doha Jobs">Doha</a>
             </li>
             </ul>
             <ul class="orange">
             <li>
             <a href="#" title="Russia Jobs">Russia</a>
             </li>
             <li>
             <a href="#" title="Germany Jobs">Germany</a>
             </li>
             <li>
             <a href="#" title="Canada Jobs">Canada</a>
             </li>
             <li>
             <a href="#" title="Hong Kong Jobs">Hong Kong</a>
             </li>
             <li>
             <a href="#" title="Spain Jobs">Spain</a>
             </li>
             <li>
             <a href="#" title="Thailand Jobs">Thailand</a>
             </li>
             <li>
             <a href="#" title="Norway Jobs">Norway</a>
             </li>
             <li>
             <a href="#" title="Srilanka Jobs">Srilanka</a>
             </li>
             </ul>
             <ul class="blue">
             <li>
             <a href="#" title="Information Technology">Mexico</a>
             </li>
             <li>
             <a href="#" title="Fresher">Fresher</a>
             </li>
             <li>
             <a href="#" title="Engineering">Engineering</a>
             </li>
             <li>
             <a href="#" title="Finance Jobs">Finance</a>
             </li>
             <li>
             <a href="#" title="Teaching">Teaching</a>
             </li>
             <li>
             <a href="#" title="Software">Software</a>
             </li>
             <li>
             <a href="#" title="Accounting">Accounting</a>
             </li>
             <li>
             <a href="#" title="Data Entry">Data Entry</a>
             </li>
             </ul>
             <ul class="blue">
             <li>
             <a href="#" title="Marketing Jobs">Marketing </a>
             </li>
             <li>
             <a href="#" title="Freelancer">Freelancer</a>
             </li>
             <li>
             <a href="#" title="Internet Jobs">Internet</a>
             </li>
             <li>
             <a href="#" title="Sales">Sales</a>
             </li>
              <li>
             <a href="#" title="Legal">Legal</a>
             </li>
             <li>
             <a href="#" title="HR">HR</a>
             </li>
             <li>
             <a href="#" title="MBA">MBA</a>
             </li>
             <li>
             <a href="#" title="Pharma">Pharma</a>
             </li>
             </ul>
         </div>
       </div>
   </div> 
</div>  
   
    {% endif %}
   
<div class="container">


   {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        
</div>
      {% if isFooter == true %}
        <div class="footer">
    <div class="container">
        <div class="col-md-3 grid_3">
            <h4>Navigate</h4>
            <ul class="f_list f_list1">
                <li><a href="index.html">Home</a></li>
                <li><a href="login.html">Sign In</a></li>
                <li><a href="login.html">Join Now</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
            <ul class="f_list">
                <li><a href="features.html">Features</a></li>
                <li><a href="terms.html">Terms of use</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="jobs.html">Post a Job</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 grid_3">
            <h4>Twitter Widget</h4>
            <div class="footer-list">
              <ul>
                <li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
                <li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
                <li><i class="fa fa-twitter tw1"> </i><p><span class="yellow"><a href="#">consectetuer</a></span> adipiscing elit web design</p></li>
              </ul>
            </div>
        </div>
        <div class="col-md-3 grid_3">
            <h4>Seeking</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
        </div>
        <div class="col-md-3 grid_3">
            <h4>Sign up for our newsletter</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam.</p>
            <form>
                <input type="text" class="form-control" placeholder="Enter your email">
                <button type="button" class="btn red">Subscribe now!</button>
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

    {% endif %}   

        <div class="footer_bottom"> 
  <div class="container">
    <div class="col-sm-2">
        <ul class="f_list2">
            <li><a href="jobs.html">Russia Jobs</a></li>
            <li><a href="jobs.html">Australia Jobs</a></li>
            <li><a href="jobs.html">Srilanka Jobs</a></li>
            <li><a href="jobs.html">Poland Jobs</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <ul class="f_list2">
            <li><a href="jobs.html">Newzland Jobs</a></li>
            <li><a href="jobs.html">Pakistan Jobs</a></li>
            <li><a href="jobs.html">Srilanka Jobs</a></li>
            <li><a href="jobs.html">Irland Jobs</a></li>
        </ul>
    </div>
    <div class="col-sm-2">
        <ul class="f_list2">
            <li><a href="jobs.html">Canada Jobs</a></li>
            <li><a href="jobs.html">Germany Jobs</a></li>
            <li><a href="jobs.html">China Jobs</a></li>
            <li><a href="jobs.html">Nepal Jobs</a></li>
        </ul>
    </div>
    <div class="col-sm-6 footer_text">
       <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numqua"</p>
    </div>
    <div class="clearfix"> </div>
    <div class="copy">
        <p>Copyright © 2015 Seeking . All Rights Reserved . </p>
    </div>
  </div>
</div>
</body>
</html> 