{% extends 'base.html.twig' %}
{% set isHeader         = false %}
{% block body %}
    
    {# get flash message here #}
    {% for flash_message in app.session.flashBag.get('notice') %}  
        <div class="flash-notice"> {{ flash_message }} </div>
    {% endfor %}
    {# {{dump(app.request.server)}} #}
    
    
  
  
    {% if user %} 
    <form action='{{ app.request.server.get('REQUEST_SCHEME') }}://{{ app.request.server.get('HTTP_HOST') }}{{ app.request.server.get('PHP_SELF') }}' >
  
       <table class='table'> 
            <tr>
                <td> Email </td>
                <td> <input type='email' value='{{ user.email }}'/> </td>
            </tr>
            <tr>
                <td> Username </td>
                <td><input type='username' value='{{ user.username }}'/></td>
            </tr>            
            <tr>
                <td> Role </td>
                <td>   
                    <select>
                        <option value=''> Select Role </option>                     
                        {% for rl in role_list %}
                            {% for rl1 in rl %}                                                                                                    
                                {% if rl1 in user.roles %}
                                    <option value='' selected > {{rl1}} </option>                                      
                                {% else %}
                                    <option value=''> {{rl1}} </option>                   
                                {% endif %}   
                            {% endfor %} 
                        {% endfor %}
                    </select>                   
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type='submit' value='Submit'/></td>
            </tr>
        </table>
    </form>
   
    {% endif %}
    
{% endblock %}
{% set isFooter = false %}