{% extends 'base.html.twig' %}
{% set isHeader         = false %}
{% block body %}
    
            
<div class="container">
    <div class="single">  
	   <div class="col-md-9 single_right">
               
                <table class="condidate_detail">
                    <h4>Company Details</h4>
			<tbody>
				<tr>
                                    <td>Company Title</td>
                                    <td>{{ company.companyTitle }}</td>
				</tr>
                                <tr>
                                    <td>Company Address</td>
                                    <td>{{ company.companyAddress }}</td>
				</tr>
                               {% if app.user %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="{{ path('company_edit', { 'id': company.id }) }}"><label class="form-submit1"><input type="button" value="Edit"></label></a>      
                                        {{ form_start(delete_form) }}<p>
                                            <label class="form-submit1"><input type="submit" value="Delete"></label></p>
                                        {{ form_end(delete_form) }}
                                        <a href="{{ path('company_index') }}">Back to the list</a>       
                                    </td>
				</tr>  
                                {% endif %}
			</tbody>
		</table>     
         
            </div>
            <div class="col-md-3">  </div>
            <div class="clearfix"> </div>
    </div>
</div>  
                                        
{% endblock %}

{% set isFooter         = false %}